@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.heading{
font-size: 18px !important;
color: #333;
line-height: 25px;
font-weight: bold;
margin: auto;
width: 85%;
}
.footer-section{
 bottom: 0;
font-style: Arial;
max-height: 200px;
width: 100%;
margin: 0 auto;
background-color: #333;
border-top: 1px solid #dadada;
}

.slide-div {
   
  transition: right 0.3s ease-in-out;  
}
.slide-div.show{
  right: 0;  
}

.slide-div:hover {
  right: 0;  
}

   .username_input_occ{
    height: 40px;
    display: inline;
    background-color: transparent;
    border-color: #bbb;
    border: 1px solid #666;
    border-radius: 0;
    margin: 0 auto;
    padding-left: 5px;
    font-style: Arial;
    font-size: 18px;
    color: #666;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .username_input_occ:focus{
    border: 2px solid #0082bb;

  }
  .user_label{
    color: #666666;
    
    
  }

  .checkers:checked {
    background-color: white;
}
  .cl1{
    background-color:#0082bb ;
  }
  .cl{
  color:  #0082bb;
}

.colo{
  color:  #0082bb;
}
 
 
  .button{
background-color: #0082bb;
border: 2px solid #1088c2;
  }





  .custom-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox span {
    width: 24px;
    height: 22px;
    border-radius: 2px;
    border: 1px solid black;
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    position: relative;
}

.custom-checkbox input[type="checkbox"]:checked + span {
    border: 2px solid #0082bb;
    background-color: white;
}

.custom-checkbox input[type="checkbox"]:checked + span::after {
    content: '';
    position: absolute;
    top: 40%;
    left: 60%;
    width: 10px;
    height: 15px;
    border:solid  #0082bb;
    border-width: 0 3px 3px 0;
    transform: translate(-50%, -50%) rotate(40deg);
}
